<div class="container-fluid">
    <div class="savePanel">
        <md-button class="md-raised md-primary" ui-sref="node-view({ id: '7f82d45a6ffb5c345f84237a621de35dd8b7b0e3' })">core-node</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.save()">Save</md-button>
    </div>

    <node-details ng-if="vm.node" node="vm.node"></node-details>

    <a href="#" ng-init="showGraph=false" ng-click="showGraph=!showGraph"/>{{ showGraph ? "Hide" : "Show" }}</a>
    <div class="g" ng-show="showGraph">
        <div class="graphContainer">
            <div class="graph"></div>
        </div>
        <div class="list"></div>
    </div>
</div>
