<div class="container-fluid">
    <div class="savePanel">
        <div>
            <button class="btn btn-primary"
                    ui-sref="node-view({ id: '7f82d45a6ffb5c345f84237a621de35dd8b7b0e3' })">core-node</button>
        </div>

        <input type="checkbox" ng-model="vm.showEdges" aria-label="Show Edges">
            Show Edges
        </input>

        <input type="checkbox" ng-model="vm.showNames" aria-label="Show Names">
            Show Names
        </input>

        <div class="data-sync" ng-class="vm.getOutOfDate() ? 'out-of-date' : 'up-to-date'">
            {{ vm.getOutOfDate() ? "Out of date: " + vm.getOutOfDate() : "Up to Date" }}
        </div>

        <div>
            <button class="btn btn-primary" ng-click="vm.load()">Load</button>
            <button class="btn btn-primary" ng-click="vm.save()">Save</button>
        </div>
    </div>

    <node-details ng-if="vm.node" node="vm.node"></node-details>

    <a ng-init="showGraph=false" ng-click="showGraph=!showGraph"/>{{ showGraph ? "Hide" : "Show" }}</a>
    <div class="g" ng-show="showGraph">
        <div class="graphContainer">
            <div class="graph"></div>
        </div>
        <div class="list"></div>
    </div>
</div>
