<md-toolbar>
  <div class="md-toolbar-tools">
       <node-name node-id="$ctrl.nodeId"></node-name><span>{{ $ctrl.nodeId }}</span>
  </div>
</md-toolbar>

<div class="contents">
    <div class="group-list" ng-if="$ctrl.nodeDesc | contains:'39bedcfba59c016590ddd53ddc7d89268b5340fd'">
        <div class="header">Group</div>
        <node-group node-id="$ctrl.nodeId"></node-group>
    </div>

    <div>
        <div class="header">Types</div>
        <div ng-repeat="type in $ctrl.nodeDesc">
          <node-button node-id="type"></node-button>
        </div>
    <div>
<div>
