<md-toolbar>
  <div class="md-toolbar-tools">
       <node-name node-id="$ctrl.nodeId"></node-name><span>{{ $ctrl.nodeId }}</span>
  </div>
</md-toolbar>

<div class="contents">
    <div class="group-list" ng-if="$ctrl.groupList.length">
        <div class="header">Group</div>
        <!-- <node-group node-id="$ctrl.nodeId"></node-group> -->
        <div class="list">
            <node-button ng-repeat="id in $ctrl.groupList" node-id="id"></node-button>
        </div>
    </div>

    <div>
        <div class="header">Types</div>
        <div ng-repeat="type in $ctrl.nodeDesc">
          <node-button node-id="type"></node-button>
        </div>
    <div>
<div>
