<div>
    <input ng-model="vm.model" placeholder="{{ vm.placeholder }}"></input>

    <!--<div class="node">-->
        <!--{{ node }}-->
    <!--</div>-->
    <!--<div class="names">-->
        <!--<span ng-repeat="name in vm.names[node]">{{ name }}</span>-->
    <!--</div>-->
    <!--<div class="desc">-->
        <!--<span ng-repeat="desc in vm.desc[node]">{{ vm.names[desc][0] || desc }}</span>-->
    <!--</div>-->

    <div ng-show="vm.names.length" class="names">
        <div ng-repeat="name in vm.names">{{ name }}</div>
    </div>
</div>
