<div>
    <md-autocomplete md-search-text="vm.model"
                     md-items="node in vm.search(vm.model)"
                     md-item-text="node"
                     md-menu-class="node-input-autocomplete-template"
                     md-delay="500"
                     md-no-cache="true"
                     placeholder="{{ vm.placeholder }}">
        <div class="node">
            {{ node }}
        </div>
        <div class="names">
            <span ng-repeat="name in vm.names[node]">{{ name }}</span>
        </div>
        <div class="desc">
            <span ng-repeat="desc in vm.desc[node]">{{ vm.names[desc][0] || desc }}</span>
        </div>
    </md-autocomplete>

    <div ng-show="vm.names.length" class="names">
        <div ng-repeat="name in vm.names">{{ name }}</div>
    </div>
</div>
