<!-- function -->
<i ng-if="vm.types.includes('28b31a80598564248953a0b087daf0edaa87093f')"
   class="fa fa-bolt" aria-hidden="true"></i>

<span>
    <!-- type -->
    <i ng-if="vm.types.includes('dd350e001cd1498b968bcd04df198c03ea072539')
                && !vm.types.includes('ce51c50d5d2e25deecc288a82c71f3010e380d8f')
                && !vm.types.includes('d0ca3833a470c47d18c1acfd90af00795e2fe9a9')"
       class="fa fa-star-o" aria-hidden="true"></i>
    <!-- whole type -->
    <i ng-if="vm.types.includes('ce51c50d5d2e25deecc288a82c71f3010e380d8f')"
       class="fa fa-star" aria-hidden="true"></i>
    <!-- fragment type -->
    <i ng-if="vm.types.includes('d0ca3833a470c47d18c1acfd90af00795e2fe9a9')"
       class="fa fa-star-half-o" aria-hidden="true"></i>
</span>

<!-- list -->
<i ng-if="vm.types.includes('bd07150e634d5b01eedbe44f28a5068b5a7c845d')"
   class="fa fa-list" aria-hidden="true"></i>