.main node-details {

    .add-edge { display: flex; align-items: flex-start; }
    .add-assign { display: flex; align-items: flex-start; }

    .heads-and-tails {
        display: flex;
        flex-direction: row;

        & > * {
            margin-right: 20px;
        }
    }

    .this {
        color: white;
        font-weight: bold;
        background-color: black;
        padding: 0 5px;
        border-radius: 3px;
    }

    md-toolbar .name button {
        border: none;
        background: none;
        color: black;
    }

    .name-entry { margin: 5px 0; }

    .contents {

        display: flex;
        flex-direction: column;

        & > * {
            padding-right: 5px;
            margin-right: 20px;
            margin-bottom: 20px;
        }

        .header {
            font-weight: bold;
            border-bottom: 4px solid gray;// #2196F3;
        }

        .heads,.tails {
            .list { margin-bottom: 5px; }
            i.fa { margin: 0 5px; }

            .types {
                padding-top: 5px;
                padding-bottom: 5px;
                border-bottom: 2px solid gray;
            }

            button.remove {
                border: none;
                background: none;
                color: red;
            }
        }
    }

    node-name { font-weight: bold; }

    div.md-toolbar-tools {
        display: flex;
        justify-content: space-between;
    }
}
