.main node-details {

    .panel-heading {
        padding: 10px;

        display: flex;
        justify-content: space-between;
        color: white;
        background-color: rgb(3,155,229);

        button {
            color: black;
            border: none;
            background-color: transparent;
        }

        node-input {
            color: black;
            & > .names { display: none; }
        }
    }

    .add-edge { display: flex; align-items: flex-start; }
    .add-assign { display: flex; align-items: flex-start; }

    .heads-and-tails {
        display: flex;
        flex-direction: row;

        & > * {
            margin-right: 20px;
        }
    }

    .this {
        color: white;
        font-weight: bold;
        background-color: black;
        padding: 0 5px;
        border-radius: 3px;
    }

    .name-entry { margin: 5px 0; }

    .contents {

        display: flex;
        flex-direction: column;

        & > * {
            padding-right: 5px;
            margin-right: 20px;
            margin-bottom: 20px;
        }

        .header {
            font-weight: bold;
            border-bottom: 4px solid gray;// #2196F3;
        }

        .heads,.tails {
            i.fa { margin: 0 5px; }

            .types {
                padding-top: 5px;
                padding-bottom: 5px;
                border-bottom: 2px solid gray;
            }

            button.remove {
                border: none;
                background: none;
                color: red;
            }
        }
    }

    node-name { font-weight: bold; }
}
