.main node-details {

    .edge.panel node-input .names { display: none; }

    .left { flex-grow: 1; }

    .right {
        flex-shrink: 1;
        margin-left: 10px;

        .list node-button { display: block; }
    }

    .node-details.panel {

        & > .panel-heading  {
            padding: 10px;

            display: flex;
            justify-content: space-between;

            button {
                color: black;
                border: none;
                background-color: transparent;
            }

            node-input {
                color: black;
                & > .names { display: none; }
            }
        }

        & > .panel-body { display: flex; }
        & > .panel-body > * > * { margin-bottom: 10px; }
        & > .panel-body > * > *:last-child { margin-bottom: 0px; }
    }

    .panel-body {

        padding: 10px;

        .types.panel {
            .panel-heading { padding: 5px; }
            .panel-body {
                padding: 5px;
                display: flex;

                & > * {
                    display: flex;
                    flex-direction: column;
                    margin-right: 5px;

                    node-button a { width: 100% }
                }
            }

            node-button .label { display: inline-block; width: 100%; }
        }
    }

    .add-edge { display: flex; align-items: flex-start; }
    .add-assign { display: flex; align-items: flex-start; }

    .heads-and-tails {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        width: 100%;

        & > * {
            margin-right: 10px;
        }
    }

    .this {
        color: white;
        font-weight: bold;
        background-color: black;
        padding: 0 5px;
        border-radius: 3px;
    }

    .heads,.tails {
        flex-grow: 1;
        margin-bottom: 0px;

        i.fa { margin: 0 5px; }

        .types {
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom: 2px solid gray;
        }

        button.remove {
            border: none;
            background: none;
            color: red;
        }
    }

    .tails { margin-right: 0px; }

    node-name { font-weight: bold; }
}
