node-input {
  input {
    padding: 0 5px;
    width: 355px;
    font-family: monospace;
  }

  li .names {
    color: green;
    font-weight: bold;

    & > * {
      margin-right: 10px;
    }
    type-icons { color: black }
  }

  li.active .names {
    color: lightgreen;
  }
}