node-button {

    margin-right: 5px;

    // is-string
    a.t821f1f34a4998adf0f1efd9b772b57efef71a070 .label {
        border: 2px solid green;
        background-color: lightgrey;
        .string { font-weight: bold; color: green; }
    }
}
