.main {

    .header { font-weight: bold; }

    .data-sync {
        font-size: x-large;
        margin: auto 0;

        &.out-of-date {
            color: red;
            font-weight: bold;
        }
    }

    .savePanel {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
    }
}

@import "node-button";
@import "node-details";
@import "node-graph";
@import "node-name";
@import "node-input";
