/* .container { */
/* 		   border: 1px solid black; */
/* } */

.ki-nodeView {

	.ids {
		font-size: larger;
	}

	.name {
		margin-right: 5px;
	}
	
	.types {
		font-weight: bold;
	}
	
	.type {
		color: orange;
		display: inline;
		padding-right: 10px
	}

	.type:last-child {
		padding-right: 0px;
	}
	
	.head {
		color: red;
		font-style: italic;
	}

	.tail {
		color: blue;
		font-style: italic;
	}

	.string {
		color: green;
		font-weight: bold;
	}
}